*{
    margin: 0;
}
main{
    text-align: center;
    width: 592px;
    margin:0 auto 72px;
    padding-top: 50px;
}

#hero{

margin: 0px auto;
}

#hero img{
    margin-bottom: 72px;
}

h1{
    font-family: 'Inter';
    font-size: 49px;
    font-weight: normal;
    margin-bottom: 32px;
}

h1 span{
    font-weight: bold;
}

p, a{
    font-family: 'open sans';
}


p{
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

.txt-h1, .txt-p, a{
    color: #FF9900;
}

a + a{
    margin-left: 28px;
}

#footer{

    width: 592px;
    margin: 72px auto 32px;
    text-align: center;
}

#footer #lineborder{
    width: 568px;
    height: 0px;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}

.balls{
    position: fixed;
    bottom: 0px;
    right: 0px;
}
